body {
  background-color: #0b0b0b;
  color: white;
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding-top: 70px;
}

.navbar {
  background-color: rgba(0, 0, 0, 0.85);
}

.nav-link {
  color: #ccc !important;
  transition: color 0.3s;
}

.nav-link:hover {
  color: #00ff95 !important;
}

.hero {
  min-height: 100vh;
  display: flex;
  align-items: center;
  background: 
  linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), /* sombra escura */
  url("/assets/apenascomece.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.titulo {
  display: inline-flex;
  align-items: baseline;
  font-size: 2.8rem;
}

.text-primary {
  color: #0dfd99 !important;
}

.foto-perfil {
  border-radius: 50%;
  max-width: 350px;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.6);
}

.btn-primary {
  background-color: #076941;
  border: none;
}
.btn-primary:hover{
  background-color: #022416; 
}

.btn-outline-light:hover {
  background-color: white;
  color: black;
}

.sobre {
  padding: 120px 20px;
  background-color: #111;
}

.linha {
  width: 80px;
  height: 3px;
  background-color: #0dfd99;
  border-radius: 10px;
}

.sobre-mim {
  max-width: 700px;
  color: #bbb;
  line-height: 1.8;
  font-size: 1.1rem;
}

